body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: ghostwhite;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*
    Asaad Mohamed
    Created: 2021/04/09
    This css for donor
*/

#viewDonors th {
    background-color: darkgoldenrod;
}

#viewDonors td {
    background-color: aliceblue;
}

#body {
    background-image: url('../Images/light-blue-background.png');
}

btn, #btn {
    background-color: aqua;
    border: 5px solid;
    background-color: hsl(227, 82%, 100%);
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    margin-top: 60px;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
    width: 180%;
    text-align: match-parent;
}

    #btn:hover {
        border: 5px solid;
        background-color: hsl(135 64% 73%);
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px #ffd700, 0 0 15px #03e9f4, 0 0 10px #03e9f4, 0 0 10px #ffd700;
    }

h5 {
    font-size: 14px;
}











/* End css for donor */
