@*
    Chantal Shirley
    Created: 2021/04/12
    404 Error Page with Lego images
*@
@{
    ViewBag.Title = "Not Found";
}
<div style="text-align:center;">
    <h1>Uh-Oh...</h1>
    <h2>We could not find what you were searching for.</h2>
    @* Image Creative Commons free for use by aitoff https://pixabay.com/photos/error-not-found-404-lego-mistake-2129569/ *@
    <img src="https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569_960_720.jpg" width="300" />
    <h4>If this is a mistake, we are eager to resolve it! Email us below!</h4>
    <a href="mailto:help@back-on-track.com?cc=helpdesk@back-on-track.com
                &subject=Delivery Question&Body=Dear Back-On-Track,">Questions?</a>
</div>