@*
    Chantal Shirley
    Created: 2021/04/29
    Inital Designs for Contact Us page.
*@

@{
    ViewBag.Title = "Contact";
}
<img src="https://cdn.pixabay.com/photo/2015/10/30/15/07/contact-us-1014232_960_720.png" style=" box-shadow: 0 4px 8px #d9d9d9; border-radius:5px;" height="300px" width="100%" />
<h2>@ViewBag.Title.</h2>
<h3>How to reach us!</h3>

<address>
    8946 One Way Blvd<br />
    Cedar Rapids, IA 52408<br />
    <abbr title="Phone">P:</abbr>
    319.123.4567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@back-on-track.com">Support@back-on-track.com</a><br />
    <strong>Donations:</strong> <a href="mailto:Donation@back-on-track.com">Donation@back-on-track.com</a>
</address>